body{
    margin: 0;
    font-family: 'Open-Sans', sans-serif;
    color: rgb(44, 41, 44);
    background-color: rgb(247, 239, 247);
}

#main-header{
    background-color: rgb(26, 1, 44);
    color: white;
    padding: 2rem 5%;
    text-align: center;
}

.btn {
    font: inherited;
    padding: 0.5rem 1.5rem;
    background-color: rgb(26, 1, 44);
    border: 1px solid rgb(26, 1, 44);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-alt{
    background-color: transparent;
    border-color: transparent;
    color: rgb(26, 1, 44);
}

.btn:hover {
    background-color: rgb(6, 1, 15);
    border-color: rgb(6, 1, 15);
}

.btn-alt:hover {
    background-color: rgb(166, 130, 168);
    border-color: transparent;
}